<%- include('../template/header')-%>
    <div class="container p-1">
        <h1 class="mb-4">New Article</h1>
        <form action="/articles" method="POST">
            <%- include('_form_fields') %>
        </form>
    </div>
<%- include('../template/footer')-%>
